<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body>
    <div class="app-shell">

        <div th:replace="fragments/header :: appHeader(${appTitle}, ${username}, ${headerMenus})"></div>

        <div class="layout">

            <!-- Sidebar -->
            <div th:replace="fragments/sidebar :: sidebar(${sidebarMenus})"></div>
            
            <main class="content" th:fragment="content(page)">
                <th:block th:replace="${page}"></th:block>
            </main>

        </div>
    </div>
</body>

</html>