<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="script-addon()">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Flatpickr for all elements with class 'date-picker'
            flatpickr(".date-picker", {
                dateFormat: "Y-m-d", // Standard date format
                // You can add more options here, e.g., minDate, maxDate, etc.
            });
        });
        
        function toggleDropdown(id) {

            document
                .querySelectorAll('.dropdown-menu-custom')
                .forEach(menu => {

                    if (menu.id !== id) {
                        menu.classList.remove('show');
                    }
                });

            document
                .getElementById(id)
                .classList
                .toggle('show');
        }

        // outside click close
        document.addEventListener('click', function (event) {

            document
                .querySelectorAll('.dropdown-wrapper')
                .forEach(wrapper => {

                    if (!wrapper.contains(event.target)) {

                        wrapper
                            .querySelector('.dropdown-menu-custom')
                            ?.classList
                            .remove('show');
                    }
                });
        });

    </script>
</section>

</html>